table,
th,
td {
    border: 1px solid Grey;
    text-align: center;
    padding: 10px;
    table-layout: fixed;
    align-self: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

body {
    background: grey;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

section {
    background: white;
    padding: 15px;
    margin: 15px auto;
    max-width: 100%;
    border-radius: 15px;
}

ul {
    list-style: none;
}
ul li::before{
    content: "👤";
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid darkgrey;
}
form input[type="submit"]{
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}

footer {    
    text-align: center;
    padding: 10px;
    background: #0074b8;
    color: white;
}

.social {
    margin: 15px auto;
    max-width: 100%;
    border-radius: 15px;
    text-align: center;
    background: white;
    padding: 15px;
}

.social i {
    font-size: 30px;
    margin: 0 10px;
    color: #3b5998;
    cursor: pointer;
}
